* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;

}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}