* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;

}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --yellow: rgb(255, 232, 31);
  --black: rgb(23, 23, 23);
  --red: rgb(228, 32, 43);
}

.bg-yellow{
  background-color: var(--yellow);
}

.bg-black{
  background-color: var(--black);
}

.bg-white{
  background-color: var(--red);
}

.text-yellow{
  color: var(--yellow);
}

.text-black{
  color: var(--black);
}

.text-white{
  color: var(--red);
}

/* Navbar */
.navbar{
  height: 70px;
  transition: 0.5s;
}

.nav-link{
  color: var(--yellow);
  font-weight: 700;
}

.nav-link:hover{
  color: white !important;
  text-shadow: 2px 2px 5px var(--red), -2px -2px 5px var(--red);
}

.logo{
  width: 50px;
}

/* Header */
.header{
  background-image: url(https://img.freepik.com/foto-gratuito/sfondo-di-iperspazio-3d-con-effetto-tunnel-di-curvatura_1048-12526.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-custom{
  color: var(--yellow);
  background-color: var(--black);
  border: 2px solid var(--yellow);
  border-radius: 50px;
  margin: 0px 15px;
  padding: 20px 30px;
  transition: 0.5s;
}

.btn-custom:hover{
  color: var(--black);
  background-color: var(--yellow);
  transform: scale(1.1);
}